<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <nav>
      <h2>Types:</h2>
      <ul>
        <% types.forEach((type) => { %>
        <li><a href=""> <%= type.type %> </a></li>
        <% }); %>
      </ul>
    </nav>
  </body>
</html>
