<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %>:</h1>
    <nav>
      <ul>
        <% trainers.forEach((trainer) => { %>
        <li>
          <a href="/trainers/<%= trainer.trainer %>">
            <%= trainer.trainer %>
          </a>
          <a href=""><button>delete</button></a>
        </li>
        <br />
        <% }); %>
        <a href="/trainers/create"><button>create trainer</button></a>
        <br>
      <a href="/">Home</a>
    </nav>
  </body>
</html>
