<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= trainer %></title>
  </head>
  <body>
    <h1><%= title %>:</h1>
    <nav>
      <ul>
        <% trainerPokemon.forEach((tp) => { %>
        <li><%= tp.pokemon %></li>
        <br />
        <% }); %>
      </ul>
      <a href="/trainers">Back</a>
      <br />
      <a href="/">Home</a>
    </nav>
  </body>
</html>
